.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  color: black;
  margin-bottom: 20px;
}

.sidebar {
  height: 100vh !important;
  align-self: flex-start;
}
.css-k008qs {
  height: 100% !important;
}
.MuiDrawer-docked {
  height: 100% !important;
}

.content {
  justify-content: center;
  display: flex;
  max-width: 1600px;
  transition: width 0.3s;
  margin: 20px auto 0;
  width: 100%;
}

.filled {
  background-color: #d0f0c0;
}

.filled input,
.filled textarea {
  background-color: #d0f0c0;
}

.filled .MuiSelect-select {
  background-color: #d0f0c0;
}

.print-button {
  margin-top: 20px;
}

.textarea-container {
  margin-bottom: 10px;
}

.inputs {
  height: 100vh;
  overflow-y: auto;
}

.output {
  height: 100vh;
  overflow-y: auto;
}
.content .container {
  width: 100%;
}
.content-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sidebar .MuiPaper-elevation {
  position: relative !important;
  top: 0 !important;
  height: 100% !important;
}

@media print {

  .sidebar,
  .inputs,
  .header-title {
    display: none !important;
  }

  .content {
    margin: auto;
    width: 100%;
    overflow: visible !important;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .hidden-print {
    display: none !important;
  }

  .content {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .inputs,
  .output {
    overflow: visible !important;
  }
}