.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-title {
  color: black;
  margin-bottom: 20px;
}

.sidebar {
  align-self: flex-start;
}

.content {
  display: flex;
  max-width: 1600px;
  margin-top: 20px;
  transition: width 0.3s;
}

.drawer-open .content {
  width: calc(100% - 240px);
  /* Ширина при открытом сайдбаре */
}

.drawer-closed .content {
  width: calc(100% - 50px);
  /* Ширина при закрытом сайдбаре */
}